<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Redirecció http a https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
                </rule>
                <rule name="Revistes digitals" stopProcessing="true">
                    <match url="^revesp/([0-9]+)/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php?contingut=revesp&amp;idpat={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Buscador revistes" stopProcessing="true">
                    <match url="^buscarev/([0-9a-zA-Z]+)/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php?contingut=buscarev&amp;search={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Directoris virtuals">
                    <match url="^(.*)/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php?contingut={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
